.version.cont_telefonico /* version checker */
{
	color: #0000EB;
	background-color: #EF3E4B;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.14999999999964px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 1px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -41px;
}

#pu5430
{
	width: 0.01px;
	margin-left: -100px;
}

#u5430
{
	z-index: 3;
	padding-bottom: 5px;
}

#u5449
{
	z-index: 52;
	width: 121px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 84px;
}

#menuu5481
{
	z-index: 32;
	width: 71px;
	margin-right: -10000px;
	margin-top: 36px;
	left: 229px;
}

#u5483
{
	width: 71px;
	padding-bottom: 6px;
}

#u5483:hover
{
	margin: 0px;
}

#u5483:active
{
	margin: 0px;
}

#u5485-4
{
	width: 71px;
	min-height: 22px;
	margin-right: -10000px;
	top: 3px;
}

#u5483:hover #u5485-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u5483:active #u5485-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#menuu5431
{
	z-index: 25;
	width: 119px;
	margin-right: -10000px;
	margin-top: 31px;
	left: 301px;
}

#u5432
{
	width: 119px;
	min-height: 36px;
	margin-right: -10000px;
}

#u5433
{
	width: 119px;
	padding-bottom: 14px;
}

#u5483.MuseMenuActive,#u5433:hover
{
	margin: 0px;
}

#u5433:active
{
	margin: 0px;
}

#u5435-4
{
	width: 119px;
	min-height: 22px;
	margin-right: -10000px;
	top: 7px;
}

#u5483.MuseMenuActive #u5485-4,#u5433:hover #u5435-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u5433:active #u5435-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#menuu5439
{
	z-index: 18;
	width: 179px;
	margin-right: -10000px;
	margin-top: 31px;
	left: 428px;
}

#u5440
{
	width: 179px;
	min-height: 36px;
	margin-right: -10000px;
}

#u5441
{
	width: 179px;
	padding-bottom: 14px;
}

#u5433.MuseMenuActive,#u5441:hover
{
	margin: 0px;
}

#u5441:active
{
	margin: 0px;
}

#u5444-4
{
	width: 179px;
	min-height: 22px;
	margin-right: -10000px;
	top: 7px;
}

#u5433.MuseMenuActive #u5435-4,#u5441:hover #u5444-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u5441:active #u5444-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#menuu5473
{
	z-index: 4;
	width: 126px;
	margin-right: -10000px;
	margin-top: 31px;
	left: 609px;
}

#u5474
{
	width: 126px;
	min-height: 36px;
	margin-right: -10000px;
}

#u5475
{
	width: 126px;
	padding-bottom: 14px;
}

#u5441.MuseMenuActive,#u5475:hover
{
	margin: 0px;
}

#u5475:active
{
	margin: 0px;
}

#u5476-4
{
	width: 126px;
	min-height: 22px;
	margin-right: -10000px;
	top: 7px;
}

#u5441.MuseMenuActive #u5444-4,#u5475:hover #u5476-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u5475:active #u5476-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#menuu5453
{
	z-index: 39;
	width: 118px;
	margin-right: -10000px;
	margin-top: 31px;
	left: 922px;
}

#u5457
{
	width: 118px;
	padding-bottom: 14px;
}

#u5475.MuseMenuActive,#u5457:hover
{
	margin: 0px;
}

#u5457:active
{
	margin: 0px;
}

#u5458-4
{
	width: 118px;
	min-height: 22px;
	margin-right: -10000px;
	top: 7px;
}

#u5475.MuseMenuActive #u5476-4,#u5457:hover #u5458-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u5457:active #u5458-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u5430-bw
{
	z-index: 3;
	height: 88px;
}

#menuu5461
{
	z-index: 11;
	width: 118px;
	margin-right: -10000px;
	margin-top: 31px;
	left: 734px;
}

#u5454,#u5462
{
	width: 118px;
	min-height: 36px;
	margin-right: -10000px;
}

#u5463
{
	width: 118px;
	padding-bottom: 14px;
}

#u5457.MuseMenuActive,#u5463:hover
{
	margin: 0px;
}

#u5463:active
{
	margin: 0px;
}

#u5464-4
{
	width: 118px;
	min-height: 22px;
	margin-right: -10000px;
	top: 7px;
}

#u5457.MuseMenuActive #u5458-4,#u5463:hover #u5464-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u5463:active #u5464-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#menuu5422
{
	z-index: 54;
	width: 71px;
	margin-right: -10000px;
	margin-top: 35px;
	left: 853px;
}

#u5482,#u5423
{
	width: 71px;
	min-height: 28px;
	margin-right: -10000px;
}

#u5424
{
	width: 71px;
	padding-bottom: 6px;
}

#u5463.MuseMenuActive,#u5424:hover
{
	margin: 0px;
}

#u5424:active
{
	margin: 0px;
}

#u5424.MuseMenuActive
{
	margin: 0px;
}

#u5427-4
{
	width: 71px;
	min-height: 22px;
	margin-right: -10000px;
	top: 3px;
}

#u5463.MuseMenuActive #u5464-4,#u5424:hover #u5427-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u5424:active #u5427-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u5424.MuseMenuActive #u5427-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#pu5969-4
{
	width: 0.01px;
	margin-left: 260px;
	margin-top: 27px;
}

#u5969-4
{
	z-index: 110;
	width: 151px;
	min-height: 7px;
	background-color: transparent;
	line-height: 13px;
	font-size: 11px;
	color: #5371AB;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#u5970-4
{
	z-index: 114;
	width: 131px;
	min-height: 13px;
	background-color: transparent;
	line-height: 13px;
	font-size: 11px;
	color: #5371AB;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	left: 156px;
}

#u5971-4
{
	z-index: 118;
	width: 106px;
	min-height: 13px;
	background-color: transparent;
	line-height: 13px;
	font-size: 11px;
	color: #5371AB;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	left: 286px;
}

#u5972-4
{
	z-index: 122;
	width: 116px;
	min-height: 13px;
	background-color: transparent;
	line-height: 13px;
	font-size: 11px;
	color: #5371AB;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	left: 397px;
}

#u5969,#u5970,#u5971,#u5972
{
	text-decoration: underline;
}

#u4978-4
{
	z-index: 104;
	width: 414px;
	min-height: 33px;
	background-color: transparent;
	line-height: 43px;
	font-size: 36px;
	color: #1B1464;
	font-family: yeseva-one, serif;
	font-weight: 700;
	margin-left: 260px;
	margin-top: 28px;
	position: relative;
}

#pu5061
{
	width: 0.01px;
	margin-left: 56px;
}

#u5061
{
	z-index: 108;
	width: 162px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
}

#u5061.MuseLinkActive
{
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin: 22px -10000px 0px 0px;
}

#u5061.MuseLinkActive .clip_frame
{
	-webkit-border-radius: 10px 10px 10px 10px;
}

#u4973-16
{
	z-index: 73;
	width: 325px;
	min-height: 78px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 204px;
}

#u4973-2
{
	font-size: 18px;
	line-height: 22px;
	color: #2E3192;
	font-family: cagliostro, sans-serif;
	font-weight: 400;
}

#u4973-3,#u4973-5,#u4973-7,#u4973-9,#u4973-11,#u4973-13
{
	font-size: 17px;
	line-height: 20px;
	color: #534741;
	font-family: cagliostro, sans-serif;
	font-weight: 400;
}

#u4974-15
{
	z-index: 89;
	width: 272px;
	min-height: 94px;
	background-color: transparent;
	font-family: cagliostro, sans-serif;
	font-weight: 400;
	margin-left: 260px;
	margin-top: 2px;
	position: relative;
}

#u4974-2
{
	font-size: 18px;
	line-height: 22px;
	color: #2E3192;
}

#u4974-3
{
	font-size: 16px;
	line-height: 19px;
	color: #534741;
}

#u4974-5,#u4974-7,#u4974-9,#u4974-11,#u4974-13
{
	font-size: 17px;
	line-height: 20px;
	color: #534741;
}

#u5470
{
	z-index: 2;
	padding-bottom: 25px;
}

#u5430_align_to_page,#u5470_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#pu5469-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 26px;
	margin-left: 399px;
}

#u5469-4
{
	z-index: 61;
	width: 373px;
	min-height: 18px;
}

#pu5493-4
{
	width: 0.01px;
	margin-left: 104px;
}

#u5493-4
{
	z-index: 65;
	width: 82px;
	min-height: 18px;
	margin-right: -10000px;
}

#u5494-4
{
	z-index: 69;
	width: 50px;
	min-height: 18px;
	margin-right: -10000px;
	left: 87px;
}

#u5447
{
	z-index: 46;
	width: 43px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 883px;
}

#u5471
{
	z-index: 48;
	width: 40px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 951px;
}

#u5451
{
	z-index: 50;
	width: 47px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 1016px;
}

#u5470-bw
{
	z-index: 2;
	height: 62px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 19px;
}

#page .verticalspacer
{
	clear: both;
}

