.version.cot_equipoacc /* version checker */
{
	color: #0000E0;
	background-color: #784047;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -41px;
}

#pu5430
{
	width: 0.01px;
	margin-left: -100px;
}

#u5430
{
	z-index: 3;
	padding-bottom: 5px;
}

#u5449
{
	z-index: 52;
	width: 121px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 84px;
}

#menuu5481
{
	z-index: 32;
	width: 71px;
	margin-right: -10000px;
	margin-top: 36px;
	left: 229px;
}

#u5483
{
	width: 71px;
	padding-bottom: 6px;
}

#u5483:hover
{
	margin: 0px;
}

#u5483:active
{
	margin: 0px;
}

#u5485-4
{
	width: 71px;
	min-height: 22px;
	margin-right: -10000px;
	top: 3px;
}

#u5483:hover #u5485-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u5483:active #u5485-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#menuu5431
{
	z-index: 25;
	width: 119px;
	margin-right: -10000px;
	margin-top: 31px;
	left: 301px;
}

#u5432
{
	width: 119px;
	min-height: 36px;
	margin-right: -10000px;
}

#u5433
{
	width: 119px;
	padding-bottom: 14px;
}

#u5483.MuseMenuActive,#u5433:hover
{
	margin: 0px;
}

#u5433:active
{
	margin: 0px;
}

#u5435-4
{
	width: 119px;
	min-height: 22px;
	margin-right: -10000px;
	top: 7px;
}

#u5483.MuseMenuActive #u5485-4,#u5433:hover #u5435-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u5433:active #u5435-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#menuu5439
{
	z-index: 18;
	width: 179px;
	margin-right: -10000px;
	margin-top: 31px;
	left: 428px;
}

#u5440
{
	width: 179px;
	min-height: 36px;
	margin-right: -10000px;
}

#u5441
{
	width: 179px;
	padding-bottom: 14px;
}

#u5433.MuseMenuActive,#u5441:hover
{
	margin: 0px;
}

#u5441:active
{
	margin: 0px;
}

#u5444-4
{
	width: 179px;
	min-height: 22px;
	margin-right: -10000px;
	top: 7px;
}

#u5433.MuseMenuActive #u5435-4,#u5441:hover #u5444-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u5441:active #u5444-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#menuu5473
{
	z-index: 4;
	width: 126px;
	margin-right: -10000px;
	margin-top: 31px;
	left: 609px;
}

#u5474
{
	width: 126px;
	min-height: 36px;
	margin-right: -10000px;
}

#u5475
{
	width: 126px;
	padding-bottom: 14px;
}

#u5441.MuseMenuActive,#u5475:hover
{
	margin: 0px;
}

#u5475:active
{
	margin: 0px;
}

#u5476-4
{
	width: 126px;
	min-height: 22px;
	margin-right: -10000px;
	top: 7px;
}

#u5441.MuseMenuActive #u5444-4,#u5475:hover #u5476-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u5475:active #u5476-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#menuu5453
{
	z-index: 39;
	width: 118px;
	margin-right: -10000px;
	margin-top: 31px;
	left: 922px;
}

#u5457
{
	width: 118px;
	padding-bottom: 14px;
}

#u5475.MuseMenuActive,#u5457:hover
{
	margin: 0px;
}

#u5457:active
{
	margin: 0px;
}

#u5458-4
{
	width: 118px;
	min-height: 22px;
	margin-right: -10000px;
	top: 7px;
}

#u5475.MuseMenuActive #u5476-4,#u5457:hover #u5458-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u5457:active #u5458-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u5430-bw
{
	z-index: 3;
	height: 88px;
}

#menuu5461
{
	z-index: 11;
	width: 118px;
	margin-right: -10000px;
	margin-top: 31px;
	left: 734px;
}

#u5454,#u5462
{
	width: 118px;
	min-height: 36px;
	margin-right: -10000px;
}

#u5463
{
	width: 118px;
	padding-bottom: 14px;
}

#u5457.MuseMenuActive,#u5463:hover
{
	margin: 0px;
}

#u5463:active
{
	margin: 0px;
}

#u5464-4
{
	width: 118px;
	min-height: 22px;
	margin-right: -10000px;
	top: 7px;
}

#u5457.MuseMenuActive #u5458-4,#u5463:hover #u5464-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u5463:active #u5464-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#menuu5422
{
	z-index: 54;
	width: 71px;
	margin-right: -10000px;
	margin-top: 35px;
	left: 853px;
}

#u5482,#u5423
{
	width: 71px;
	min-height: 28px;
	margin-right: -10000px;
}

#u5424
{
	width: 71px;
	padding-bottom: 6px;
}

#u5463.MuseMenuActive,#u5424:hover
{
	margin: 0px;
}

#u5424:active
{
	margin: 0px;
}

#u5424.MuseMenuActive
{
	margin: 0px;
}

#u5427-4
{
	width: 71px;
	min-height: 22px;
	margin-right: -10000px;
	top: 3px;
}

#u5463.MuseMenuActive #u5464-4,#u5424:hover #u5427-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u5424:active #u5427-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u5424.MuseMenuActive #u5427-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#pu5974-4
{
	width: 0.01px;
	margin-left: 210px;
	margin-top: 32px;
}

#u5974-4
{
	z-index: 174;
	width: 151px;
	min-height: 7px;
	background-color: transparent;
	line-height: 13px;
	font-size: 11px;
	color: #5371AB;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#u5975-4
{
	z-index: 178;
	width: 131px;
	min-height: 13px;
	background-color: transparent;
	line-height: 13px;
	font-size: 11px;
	color: #5371AB;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	left: 156px;
}

#u5976-4
{
	z-index: 182;
	width: 106px;
	min-height: 13px;
	background-color: transparent;
	line-height: 13px;
	font-size: 11px;
	color: #5371AB;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	left: 286px;
}

#u5977-4
{
	z-index: 186;
	width: 116px;
	min-height: 13px;
	background-color: transparent;
	line-height: 13px;
	font-size: 11px;
	color: #5371AB;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	left: 397px;
}

#u5974,#u5975,#u5976,#u5977
{
	text-decoration: underline;
}

#u4987-4
{
	z-index: 73;
	width: 692px;
	min-height: 33px;
	background-color: transparent;
	line-height: 43px;
	font-size: 36px;
	color: #1B1464;
	font-family: yeseva-one, serif;
	font-weight: 700;
	margin-left: 210px;
	margin-top: 20px;
	position: relative;
}

#pu5053
{
	width: 0.01px;
	margin-left: 33px;
	margin-top: 20px;
}

#u5053
{
	z-index: 172;
	width: 162px;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
}

#u5053 .clip_frame
{
	-webkit-border-radius: 10px 10px 10px 10px;
}

#widgetu4988
{
	z-index: 77;
	width: 0.01px;
	height: 635px;
	position: relative;
	margin-right: -10000px;
	left: 302px;
}

#widgetu5025
{
	z-index: 78;
	width: 342px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#widgetu5025.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5026-4
{
	z-index: 79;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #6B6B6B;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u5028-4
{
	z-index: 83;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

.html,#widgetu5025.non-empty-st #u5028-4
{
	background-color: #FFFFFF;
}

#widgetu5025:hover #u5028-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu5025.focus-st #u5028-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu5025.non-empty-st #u5028-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu5025:hover #u5028-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu5025.focus-st #u5028-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u5027-4
{
	z-index: 87;
	width: 130px;
	min-height: 20px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 14px;
	color: #999999;
	text-align: right;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 211px;
}

#widgetu5008
{
	z-index: 91;
	width: 342px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: -1px;
}

#widgetu5008.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 60px -10000px 0px 0px;
}

#u5011-4
{
	z-index: 92;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #6B6B6B;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u5010-4
{
	z-index: 96;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu5008.non-empty-st #u5010-4
{
	background-color: #FFFFFF;
}

#widgetu5008:hover #u5010-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu5008.focus-st #u5010-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu5008.non-empty-st #u5010-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu5008:hover #u5010-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu5008.focus-st #u5010-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u5009-4
{
	z-index: 100;
	width: 130px;
	min-height: 20px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 14px;
	color: #999999;
	text-align: right;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 211px;
}

#widgetu4991
{
	z-index: 104;
	width: 342px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: -1px;
}

#widgetu4991.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 120px -10000px 0px 0px;
}

#u4992-4
{
	z-index: 105;
	width: 200px;
	min-height: 20px;
	background-color: transparent;
	line-height: 14px;
	color: #6B6B6B;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u4993-4
{
	z-index: 109;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu4991.non-empty-st #u4993-4
{
	background-color: #FFFFFF;
}

#widgetu4991:hover #u4993-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu4991.focus-st #u4993-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu4991.non-empty-st #u4993-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu4991:hover #u4993-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu4991.focus-st #u4993-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u4994-4
{
	z-index: 113;
	width: 130px;
	min-height: 20px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 14px;
	color: #999999;
	text-align: right;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 211px;
}

#u4990-4
{
	z-index: 117;
	width: 200px;
	min-height: 26px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 605px;
	left: 140px;
}

#widgetu4988.frm-sub-st #u4990-4 p
{
	color: #999999;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u5012-4
{
	z-index: 121;
	width: 200px;
	min-height: 26px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	color: #FF0000;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 605px;
	left: 140px;
}

#widgetu4988.frm-subm-err-st #u5012-4 p
{
	color: #D7244C;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u4995-4
{
	z-index: 125;
	width: 200px;
	min-height: 26px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 12px;
	font-size: 12px;
	color: #00FF00;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 605px;
	left: 140px;
}

#widgetu4988.frm-sub-st #u4990-4,#widgetu4988.frm-subm-err-st #u5012-4,#widgetu4988.frm-subm-ok-st #u4995-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 30px;
}

#widgetu4988.frm-subm-ok-st #u4995-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u4989-17
{
	z-index: 129;
	min-height: 31px;
	width: 131px;
	position: relative;
	margin-right: -10000px;
	margin-top: 409px;
	background: url("../images/u4989-17.png") no-repeat 0px 0px;
}

#u4989-17:hover
{
	background: url("../images/u4989-17-r.png") no-repeat 0px 0px;
}

#u4989-17:active
{
	background: url("../images/u4989-17-m.png") no-repeat 0px 0px;
}

#widgetu4988.frm-sub-st #u4989-17
{
	background: url("../images/u4989-17-fs.png") no-repeat 0px 0px;
}

#widgetu5013
{
	z-index: 146;
	width: 342px;
	height: 101px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 258px;
	left: -1px;
}

#widgetu5013.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 258px -10000px 0px 0px;
}

#u5016-4
{
	z-index: 147;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #6B6B6B;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu5025.fld-err-st #u5026-4,#widgetu5013.fld-err-st #u5016-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u5015-4
{
	z-index: 151;
	width: 328px;
	min-height: 68px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu5013.non-empty-st #u5015-4
{
	background-color: #FFFFFF;
}

#widgetu5013:hover #u5015-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu5013.focus-st #u5015-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu5013.fld-err-st #u5015-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu5013.non-empty-st #u5015-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu5013:hover #u5015-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu5013.focus-st #u5015-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u5014-4
{
	z-index: 155;
	width: 130px;
	min-height: 20px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 14px;
	color: #999999;
	text-align: right;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 211px;
}

#widgetu5013_input,#widgetu5013_prompt
{
	width: 328px;
	min-height: 68px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	padding: 6px;
}

#widgetu5049
{
	z-index: 159;
	width: 342px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 188px;
	left: -1px;
}

#widgetu5049.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 188px -10000px 0px 0px;
}

#u5052-4
{
	z-index: 160;
	width: 200px;
	min-height: 20px;
	background-color: transparent;
	line-height: 14px;
	color: #6B6B6B;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu5008.fld-err-st #u5011-4,#widgetu4991.fld-err-st #u4992-4,#widgetu5049.fld-err-st #u5052-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#widgetu5025.fld-err-st #u5026-4 p,#widgetu5025.fld-err-st #u5026-4 span,#widgetu5008.fld-err-st #u5011-4 p,#widgetu5008.fld-err-st #u5011-4 span,#widgetu4991.fld-err-st #u4992-4 p,#widgetu4991.fld-err-st #u4992-4 span,#widgetu5013.fld-err-st #u5016-4 p,#widgetu5013.fld-err-st #u5016-4 span,#widgetu5049.fld-err-st #u5052-4 p,#widgetu5049.fld-err-st #u5052-4 span
{
	color: #D7244C;
}

#u5051-4
{
	z-index: 164;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu5049.non-empty-st #u5051-4
{
	background-color: #FFFFFF;
}

#widgetu5049:hover #u5051-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu5049.focus-st #u5051-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu5025.fld-err-st #u5028-4,#widgetu5008.fld-err-st #u5010-4,#widgetu4991.fld-err-st #u4993-4,#widgetu5049.fld-err-st #u5051-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu5049.non-empty-st #u5051-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu5049:hover #u5051-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu5049.focus-st #u5051-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u5050-4
{
	z-index: 168;
	width: 130px;
	min-height: 20px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 14px;
	color: #999999;
	text-align: right;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 211px;
}

#widgetu5025.fld-err-st #u5027-4,#widgetu5008.fld-err-st #u5009-4,#widgetu4991.fld-err-st #u4994-4,#widgetu5013.fld-err-st #u5014-4,#widgetu5049.fld-err-st #u5050-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#widgetu5025.fld-err-st #u5028-4 *,#widgetu5025.fld-err-st #u5027-4 p,#widgetu5008.fld-err-st #u5010-4 *,#widgetu5008.fld-err-st #u5009-4 p,#widgetu4991.fld-err-st #u4993-4 *,#widgetu4991.fld-err-st #u4994-4 p,#widgetu5013.fld-err-st #u5015-4 *,#widgetu5013.fld-err-st #u5014-4 p,#widgetu5049.fld-err-st #u5051-4 *,#widgetu5049.fld-err-st #u5050-4 p
{
	color: #D7244C;
	font-style: italic;
}

#widgetu5025_input,#widgetu5025_prompt,#widgetu5008_input,#widgetu5008_prompt,#widgetu4991_input,#widgetu4991_prompt,#widgetu5049_input,#widgetu5049_prompt
{
	width: 328px;
	min-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	padding: 6px;
}

#widgetu5025.focus-st #widgetu5025_prompt,#widgetu5008.focus-st #widgetu5008_prompt,#widgetu4991.focus-st #widgetu4991_prompt,#widgetu5013.focus-st #widgetu5013_prompt,#widgetu5049.focus-st #widgetu5049_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
	visibility: hidden;
}

#widgetu5025:hover #widgetu5025_input,#widgetu5025.focus-st #widgetu5025_input,#widgetu5025.fld-err-st #widgetu5025_input,#widgetu5025:hover #widgetu5025_prompt,#widgetu5025.fld-err-st #widgetu5025_prompt,#widgetu5008:hover #widgetu5008_input,#widgetu5008.focus-st #widgetu5008_input,#widgetu5008.fld-err-st #widgetu5008_input,#widgetu5008:hover #widgetu5008_prompt,#widgetu5008.fld-err-st #widgetu5008_prompt,#widgetu4991:hover #widgetu4991_input,#widgetu4991.focus-st #widgetu4991_input,#widgetu4991.fld-err-st #widgetu4991_input,#widgetu4991:hover #widgetu4991_prompt,#widgetu4991.fld-err-st #widgetu4991_prompt,#widgetu5013:hover #widgetu5013_input,#widgetu5013.focus-st #widgetu5013_input,#widgetu5013.fld-err-st #widgetu5013_input,#widgetu5013:hover #widgetu5013_prompt,#widgetu5013.fld-err-st #widgetu5013_prompt,#widgetu5049:hover #widgetu5049_input,#widgetu5049.focus-st #widgetu5049_input,#widgetu5049.fld-err-st #widgetu5049_input,#widgetu5049:hover #widgetu5049_prompt,#widgetu5049.fld-err-st #widgetu5049_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu5025.non-empty-st #widgetu5025_prompt,#widgetu5008.non-empty-st #widgetu5008_prompt,#widgetu4991.non-empty-st #widgetu4991_prompt,#widgetu5013.non-empty-st #widgetu5013_prompt,#widgetu5049.non-empty-st #widgetu5049_prompt
{
	visibility: hidden;
}

#u5470
{
	z-index: 2;
	padding-bottom: 25px;
}

#u5430_align_to_page,#u5470_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#pu5469-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 26px;
	margin-left: 399px;
}

#u5469-4
{
	z-index: 61;
	width: 373px;
	min-height: 18px;
}

#pu5493-4
{
	width: 0.01px;
	margin-left: 104px;
}

#u5493-4
{
	z-index: 65;
	width: 82px;
	min-height: 18px;
	margin-right: -10000px;
}

#u5494-4
{
	z-index: 69;
	width: 50px;
	min-height: 18px;
	margin-right: -10000px;
	left: 87px;
}

#u5447
{
	z-index: 46;
	width: 43px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 883px;
}

#u5471
{
	z-index: 48;
	width: 40px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 951px;
}

#u5451
{
	z-index: 50;
	width: 47px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 1016px;
}

#u5470-bw
{
	z-index: 2;
	margin-top: 1px;
	height: 62px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 19px;
}

#page .verticalspacer
{
	clear: both;
}

